<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vduder.vduder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.UserListActivity" />
        <activity android:name=".Activity.InterviewActivity" />
        <activity android:name=".Activity.InterviewListActivity" />
        <activity android:name=".Activity.FullInterviewActivity" />
        <activity android:name=".Activity.TestActivity" />

        <uses-feature android:name="android.hardware.camera" />

        <activity android:name=".Activity.CameraActivity" />
        <activity android:name=".Activity.SoundActivity"></activity>
    </application>

</manifest>